/* ---------------------- style général ---------------------- */

body {
    /* style de base du body */
    background-color: #2E2E2E;
    color: #000000;
    font-family: Noto Sans, sans-serif;
}

.button {
    /* couleurs et style des boutons */
    background-color: #D3D8D8;
    border: 1px solid #000000;
    color: #000000;
    font-family: Noto Sans, sans-serif;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0px;
    transition: all 0.5s;
    cursor: pointer;
}

.champs {
    /* couleurs et style des champs à remplire + barre de recherche */
    width: 80%;
    padding: 5px 5px;
    margin: 2% 0px;
    background-color: #D3D8D8;
    border: 1px solid #000000;
    color: #000000;
    font-family: Noto Sans, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

.titresMain {
    /* classe affichage du pseudo et des titres */
    position: absolute;
    left: 10px;
    height: 20%;
    font-size: 2vw;
    font-weight: bold;
}

.titresMain_ {
    /* classe affichage du pseudo et des titres */
    position: absolute;
    color: #f79a40;
    margin: auto;
    font-size: 2vw;
    font-weight: bold;
}

.textC {
    /* style du nom des cathégories */
    color: #000000;
    font-family: Noto Sans, sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
}

.textInfo {
    /* style du texte de base */
    color: #000000;
    font-family: Noto Sans, sans-serif;
    font-size: 1.25vw;
}

.boldText {
    /* texte en gras (couleur qui varie suivant le message) */
    font-weight: bold;
}


/* ---------------------- HEADER ---------------------- */

.header {
    /* couleurs et style du header */
    background-color: #000000;
    color: #f79a40;
    font-size: 40px;
    height: 10%;
    font-family: Noto Sans, sans-serif;
}

.buttonsHeader {
    /* position de la div des boutons de login et logout */
    position: fixed;
    top: 4%;
    width: 25%;
    height: 10%;
    right: 0;
}


/* ---------------------- LEFT SIDE ---------------------- */

.leftSideDivStyle {
    position: fixed;
    width: 25%;
    height: 100%;
    left: 0;
}


/* -------- Profil -------- */

.userDetails {
    /* style de la div du user profile */
    position: absolute;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 25%;
    border-radius: 10px;
    background: #F59937;
}

.profilMain {
    /* div du profil */
    position: absolute;
    top: 10%;
    height: 40%;
    width: 50%;
    top: 20%;
    left: 30px;
    font-size: 25px;
}

.remakeProfilMain {
    /* class pour la modification des details d'utilisateur */
    position: absolute;
    bottom: 0px;
    height: 40%;
    width: 100%;
}

.insideUserDetails {
    /* class des details d'utilisateur */
    position: absolute;
    height: 50%;
    width: 100%;
}


/* -------- Genres -------- */

.genreFilmesStyle {
    /* div du choix de genres */
    position: absolute;
    border-radius: 10px;
    background: #7F7F7F;
    left: 15%;
    width: 70%;
    height: 25%;
    top: 35%;
}


/* ---------------------- RIGHT SIDE ---------------------- */

.rightSideDivStyle {
    position: fixed;
    width: 75%;
    height: 100%;
    right: 0;
}


/* -------- Show Film Div -------- */

.movieGeneralInfoStyle {
    /* div des informations sur le film */
    position: absolute;
    width: 65%;
    height: 100%;
}

.movieImageStyle {
    /* div affiche du film */
    position: absolute;
    top: 10%;
    width: 30%;
    height: 80%;
    right: 0%;
}

.movieGeneralInfoStyle_sub_10{
    position: absolute;
    width: 100%;
    height: 10%;
}

.movieGeneralInfoStyle_sub_30{
    position: absolute;
    width: 100%;
    height: 40%;
    overflow-y: scroll;
}


/* -------- Show Group Div -------- */


/* ---- Left side ---- */

.leftSideShowGroupDiv {
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0px;
}

.groupId {
    /* div des infos dur le groupe */
    position: absolute;
    width: 90%;
    left: 5%;
    height: 25%;
    top: 0px;
}

.userInGrpList {
    /* div des memebres du groupe */
    position: absolute;
    width: 90%;
    left: 5%;
    height: 70%;
    top: 25%;
}


/* ---- Right side ---- */

.rightSideShowGroupDiv {
    position: absolute;
    width: 70%;
    height: 100%;
    right: 0px;
}
.smallUserDivClass{
    border-bottom-style: inset;
    border-bottom-color: #F59937;
    border-bottom-width: 7px;
}

/* -------- Show Group Div Voting -------- */

.insideRightSideStyle {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    bottom: 20%;
    border-radius: 10px;
    background: #7F7F7F;
}

.votingInfo {
    position: absolute;
    width: 90%;
    left: 5%;
    height: 7%;
}

.filmDisplay {
    position: absolute;
    width: 90%;
    left: 5%;
    height: 86%;
    top: 7%;
}

.vote {
    position: absolute;
    width: 90%;
    height: 7%;
    top: 93%;
    left: 5%;
}


/* UNKN */

.hidden {
    display: none;
}

label {
    margin-bottom: 10px;
    display: block;
}

.boutonsMain {
    /* placement des boutons du mainScreen */
    position: absolute;
    top: 65%;
    left: 15%;
    width: 70%;
    height: 40px;
}

.searchMain {
    /* classe de la bare de recherche */
    position: absolute;
    bottom: 20%;
    left: 15%;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    background: #2E2E2E;
}

.textDivClass {
    position: absolute;
    top: 3%;
    height: 12%;
    width: 100%;
    font-size: 2vmin;
    text-align: center;
}

.dropDownDivStyle {
    position: absolute;
    top: 15%;
    height: 70%;
    width: 100%;
}

.acceptChangesDivStyle {
    position: absolute;
    bottom: 3%;
    height: 12%;
    width: 100%;
}